pipeline/pl_full_load_oracle_tables.json
{
	"name": "pl_full_load_oracle_tables",
	"properties": {
		"activities": [
			{
				"name": "Get Table List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT DISTINCT TABLE_NAME\nFROM ALL_TAB_COLS\nWHERE OWNER = 'HR';",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_oracle_tbls",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Table List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Table List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Export Table Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "SELECT table_name\nFROM ALL_TAB_COLS\nWHERE table_name = '@item()'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_oracle_tbls",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Parquet_adls_brnz",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@concat('bronze','/demo','/')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"folderName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-20T16:49:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}